@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600|Montserrat&display=swap');
.josefin {
  font-family: 'Josefin Sans SemiBold';
}
.josefin-light {
  font-family: 'Josefin Sans';
}
.Montserrat {
  font-family: 'Montserrat' !important;
}
.foodmoodbg {
  background-image: url('images/foodmood-bg.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}

.foodlistingsbg {
  background-color: ivory;
  color: black;
}

.ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui) {
  font-family: 'Montserrat';
  padding-top: 10px;
}
 .ui.cards > .card .meta, .ui.card .meta {
   font-family: 'Josefin Sans SemiBold';
 }
.ui.cards > .card > .content > .meta + .description, .ui.cards > .card > .content > .header + .description, .ui.card > .content > .meta + .description, .ui.card > .content > .header + .description {
  font-family: 'Josefin Sans SemiBold';
}
.ui.teal.labels .label, .ui.teal.label {
  font-family: 'Josefin Sans SemiBold';
}
.ui.cards > .card .meta, .ui.card .meta {
  font-family: 'Josefin Sans SemiBold';
}
.ui.cards > .card > .extra a:not(.ui), .ui.card > .extra a:not(.ui) {
  font-family: 'Josefin Sans SemiBold';
}
.add {
  color: white !important;
  font-size: 40px;
  margin: 50px 0px 50px 0px !important;
}
.center {
  text-align: center !important;
}
.landing{
  color: white;
  text-align: center;
  font-family: 'Josefin Sans SemiBold';
}

.foodlisting-landing {
  color: black;
  text-align: center;
  font-family: 'Josefin Sans SemiBold';
}

.foodmoodbg-landing {
  background-image: url('images/foodmood-bg.jpg') ;
  background-size: cover;
  height: 500px;
}

.landing-description {
  padding-top: 100px;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans';
}
.right {
  text-align: right !important;
}
.search {
  text-align: right !important;
}

.green {
  color: green !important;
}

.sign {
  margin-top: 20px;
}
